ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-button{
    background-color: gray;
    font-size: large;
    font-style: italic;
    font-family: Verdana, "Geneva", Tahoma, sans-serif
}

.text-center {
    text-align: center;
    list-style-position: inside;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: rgb(224, 224, 224);
}

.text,
.list-text {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: rgb(202, 202, 202);  
}


.list-text {
    font-size: 18px;
}

.box {
    display: block;
    background-color: rgb(19, 139, 139);
    padding: 18px 18px;
    margin: 18px auto;
}

.img-box {
    display: block;
    background-color: salmon;
    border: 12px solid bisque;
}

body {
    background-color: rgba(0, 0, 0, 0.90);
}

button:hover {
    background-color: rgb(20, 20, 20);
}

a {
    color: rgb(228, 227, 227);  
    text-decoration: none;
}
